
.header {
  background-color: #061d3f;
  padding: 12px 0 6px 0;
  .main-logo {
    width: 240px;
    height: 66px;
    object-fit: contain;
    float: left;

  }

}

//FOOTER
.footer{
  background-color: #333;
  padding: 40px 0;
  font-family: $ff;
  
  .footer-contacts{
    float: left;
    h3{
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      line-height: 2.67;
      letter-spacing: 0.3px;
      color: #ffffff;
    }
    li{
      //font-family: $ff;
      font-size: 13px;
      line-height: 1.85;
      text-align: left;
      color: #a8a8a8;
      a{
        color: #a8a8a8;
        text-decoration: none;
      }
    }
  }
  .footer-nav{
    ul{
      padding: 6px 0 24px 0;
    }
  }
  .footer-social{
    .logo{
      float: left;
    }
    .social-link{
      float: right;
      li{
        margin-left: 5px;
        a{
          display: block;
          @include trans(400ms);
          &:hover{
            opacity: 0.7;
          }
        }

      }
    }
  }
  

}