
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(#061d3f, 0.7);
  z-index: 10000;

  padding: 12px 0 6px 0;
  .main-logo {
    width: 240px;
    height: 66px;
    object-fit: contain;
    float: left;
    @include trans()

  }
  &.small-header {
    padding: 12px 0 6px 0;
    .main-logo {
      width: 160px;
      height: 30px;
      object-fit: contain;
      float: left;

    }
    .main-nav {

      .navigation {
        padding: 12px 0;
        li {

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-family: $ff;
            font-size: 13px;
            &:hover {
              color: #a8a8a8;
            }
          }
        }
      }

    }
  }

}

#mobile_nav {
  display: none;
}

#mob_bg {
  display: none;
}

@media screen and (max-width: 768px) {

  #mobile_nav {
    display: block;
    z-index: 999999;
    width: 25px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #ffffff;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 11px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 23px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

    }
    &.open {
      left: 280px;
      span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
        left: 0;
        width: 34px;
      }
      span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 24px;
        left: 0;
        width: 34px;
      }
    }
  }
  .header-nav {
    background-color: rgba(6, 29, 63, 1);
    position: fixed;
    left: -270px;
    bottom: 0;
    top: 0;
    width: 270px;
    z-index: 999999;
    @include trans(.5s);

    .navigation {
      padding: 0;
      li {
        display: block;
        width: 100%;
        padding: 0;

        a {
          display: block;
          font-size: 16px;
          line-height: 1.43;
          padding: 25px;
          @include trans(400ms);
          &:hover {
            color: #fff;
          }
        }
      }
    }

    &.nav-opener {
      height: 100%;
      overflow-y: auto;
      left: 0;
      + #mob_bg {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.4);
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 7000;
      }
    }

  }
  .header {
    .main-logo {
      float: right;
      width: 160px;
      height: 40px;
    }
  }
}

//FOOTER
.footer {
  background-color: #333;
  padding: 40px 0;

  .footer-contacts {
    float: left;
    h3 {
      font-family: $ff;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      line-height: 2.67;
      letter-spacing: 0.3px;
      color: #ffffff;
    }
    li {
      font-family: $ff;
      font-size: 13px;
      line-height: 1.85;
      text-align: left;
      color: #a8a8a8;
      a {
        color: #a8a8a8;
        text-decoration: none;
      }
    }
    .social-link {
      display: none;


    }
  }
  .footer-nav {
    ul {
      padding: 6px 0 24px 0;
    }
  }
  .footer-social {
    .logo {
      float: left;
    }
    .social-link {
      float: right;
      li {
        margin-left: 20px;
        display: inline-block;

        a {
          text-decoration: none;
          color: #fff;
          display: block;
          @include trans(400ms);
          &:hover {
            opacity: 0.7;
          }
        }

      }
    }
  }

}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 20px 0;

    .footer-contacts {
      float: left;

      li {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .footer-contacts {
      //outline: 1px solid yellow;
      width: 100%;
      .list-contacts {
        float: left;
      }
      .social-link {
        display: block;
        float: right;
        li {
          margin-left: 20px;
          display: inline-block;
        }
      }
    }

    .footer-nav {
      ul {
        padding: 20px 0 0 0;
      }
      width: 100%;
    }
    .footer-social {
      .logo {
        display: none;
      }
      .social-link {
        display: none;
      }
    }

  }
}
