@import "var";

.box-1 {
  position: relative;

  .container {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -650px;
  }
  h1 {
    position: absolute;
    //outline: 1px solid red;
    font-family: $ff;
    font-size: 72px;
    font-weight: 300;
    line-height: 1.19;
    text-align: center;
    color: #ffffff;
    width: 1300px;
    top: 0;
    padding: 250px 0;
    left: 50%;
    margin-left: -650px;

  }

  .to-bottom {
    position: absolute;
    bottom: 31px;
    left: 50%;
    margin-left: -16px;
  }

}

.box-2 {
  //background-image: url('../img/18.jpg');
  padding-bottom: 80px;
  background-image: url('../img/18.png'), url('../img/layer1.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left top;
  h2 {
    text-align: center;
    padding: 60px 0 30px 0;
    font-family: $ff;
    font-size: 40px;
    font-weight: bold;
    line-height: 0.5;
    letter-spacing: 0.8px;
    color: #333333;
  }
  .container-slider {
   
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    //outline: 1px solid yellow;
    position: relative;
    @include clr;
  }

  .swiper-container {
    padding-bottom: 30px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }

  .go-to-gallery {
    margin: 0 auto;
  }
}

.box-3{
  //background-image: url('../img/18.jpg');
  padding-bottom: 80px;
  background-image:  url('../img/layer1.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left top;
  h2 {
    text-align: center;
    padding: 60px 0 30px 0;
    font-family: $ff;
    font-size: 40px;
    font-weight: bold;
    line-height: 0.5;
    letter-spacing: 0.8px;
    color: #fff;
    text-transform: uppercase;
  }
  .container-slider {

    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    //outline: 1px solid yellow;
    position: relative;
    @include clr;
  }

  .swiper-container {
    padding-bottom: 30px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }
  .swiper-slide{
    padding: 50px 0 100px 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .reviews-item{
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      overflow: hidden;
      h3{
        padding: 2px 0;
        margin-top: 40px;
        float: left;
        font-size: 30px;
        font-family: $ff;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 0.6px;
        text-align: right;
        color: #ffffff;
        position: relative;
        &:before{
          content: '';
          width: 4px;
          position: absolute;
          height: 500px;
          display: block;
          background: #fff;
          right: 0;
          top: 65px;
        }
        &:after{
          content:'';
          width: 4px;
          position: absolute;
          height: 100%;
          display: block;
          background: #fff;
          right: 0;
          bottom: 65px;
        }
      }
      .reviews-desc{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 30px;
        border-top:4px solid #fff;
        border-right:4px solid #fff;
        border-bottom:4px solid #fff;
        max-width: 400px;
        float: right;
        p{
          font-family: $ff;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.43;
          letter-spacing: 0.3px;
          text-align: justify;
          color: #ffffff;
        }
      }
    }
  }
  .reviews-prev{
    background-image: url('../img/1Copy.png'), url('../img/2Copy.png');
    transform: rotate(180deg);
    opacity: 1;
  }
  .reviews-next{
    @extend .reviews-prev;
    transform: rotate(0deg);
  }
  /*.reviews-item{
    float: right;
    outline: 1px solid #fff;
    overflow: hidden;
    h3{
      padding: 2px 0;
      margin-top: 40px;
      float: left;
      font-size: 30px;
      font-family: $ff;
      font-weight: bold;
      line-height: 1;
      letter-spacing: 0.6px;
      text-align: right;
      color: #ffffff;
      position: relative;
      &:before{
        content: '';
        width: 4px;
        position: absolute;
        height: 500px;
        display: block;
        background: #fff;
        right: 0;
        top: 65px;
      }
      &:after{
        content:'';
        width: 4px;
        position: absolute;
        height: 100%;
        display: block;
        background: #fff;
        right: 0;
        bottom: 65px;
      }
    }
    .reviews-desc{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 30px;
      border-top:4px solid #fff;
      border-right:4px solid #fff;
      border-bottom:4px solid #fff;
      max-width: 400px;
      float: right;
    }
  }*/
  .go-to-gallery {
    float: right;
    margin-right: 75px;
  }
}


.box-map{
  position: relative;
  .map-title-cont{
    background-color: rgba(#cc922c, 0.7);
    padding: 30px 0;
    z-index: 1000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .container{
      position: relative;
    }
    @include clr;
    h2{
      font-family: $ff;
      font-size: 40px;
      font-weight: bold;
      line-height: 0.5;
      letter-spacing: 0.8px;
      text-align: center;
      color: #ffffff;
    }
    .map-burger{
      position: absolute;
      right: 0;

    }
  }
  .map-frame-container{
    height: 80px;
    z-index: 990;
    position: relative;
    overflow: hidden;
    @include trans(500ms);
    &.active{
      height: 75vh;
    }
  }
}


#main_map{
  height: 75vh;
  width: 100%;

}