@import "var";
@import "header";

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  //outline: 1px solid yellow;
  @include clr;
}

img {
  display: block;
}
button{
  outline: 0;
  border: 0;
}

.container-full {
  width: 100%;
  @include clr;
}

.button {
  width: 185px;
  height: 48px;
  border-radius: 2px;
  background-color: #cc922c;
  font-size: 14px;
  line-height: 48px;
  font-family: $ff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  @include trans(400ms);
  &:hover {
    opacity: 0.7;
  }
}

.slider-nav {
  width: 60px;
  height: 60px;
  object-fit: contain;
  position: absolute;
  top: 52%;
  z-index: 9999;
  cursor: pointer;
  opacity: 0.4;
  @include trans(400ms);
  &:hover {
    opacity: 1;

  }
  &.slider-button-prev {
    background-image: url('../img/1.png'), url('../img/2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    left: 0;
  }
  &.slider-button-next {
    @extend .slider-button-prev;
    right: 0;
    left: auto;
    transform: rotate(180deg);
  }
}

.main-nav {
  display: block;
  float: right;
  //outline: 1px solid red;
  ul {

    padding: 24px 0;
  }
  li {
    display: inline-block;
    padding: 0 10px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-family: $ff;
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 0.4px;
      @include trans(400ms);
      &:hover {
        color: #a8a8a8;
      }
    }
  }
}

.map-burger {
  top: 50%;
  margin-top: -10px;
  width: 60px;
  height: 25px;
  background: none;
  
  z-index: 2;
  display: block;
  &:before {
    content: "";
    position: absolute;
    width: 25px;
    left: 10px;
    height: 1px;
    transition: all .4s;
    top: 12px;
    background: #fff;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  &:after {
    top: 12px;
    //box-shadow: 0 1px 0 0 #00aaff inset, 0 8px 0 0 #00aaff;
    transition: all .4s;
    background: #fff;
    content: "";
    position: absolute;
    width: 25px;
    left: 27px;
    height: 1px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  &.active{
    &:before{
      -webkit-transform: translateX(8px) rotate(-45deg);
      -ms-transform: translateX(8px) rotate(-45deg);
      transform: translateX(8px) rotate(-45deg);
    }
    &:after{
      -webkit-transform:translateX(-8px) rotate(45deg);
      -ms-transform:translateX(-8px) rotate(45deg);
      transform:translateX(-8px) rotate(45deg);
    }
  }
}


