@import "var";
@import "header";

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  //outline: 1px solid yellow;
  @include clr;
  @media screen and (max-width: 1024px) {
    padding: 0 20px;
  }
}

img {
  display: block;
}
button{
  outline: 0;
  border: 0;
}

.container-full {
  width: 100%;
  @include clr;
}

.slider-nav {
  width: 60px;
  height: 60px;
  object-fit: contain;
  position: absolute;
  top: 52%;
  z-index: 9999;
  cursor: pointer;
  opacity: 0.4;
  @include trans(400ms);
  &:hover {
    opacity: 1;

  }
  &.slider-button-prev {
    background-image: url('../img/1.png'), url('../img/2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    left: 0;
  }
  &.slider-button-next {
    @extend .slider-button-prev;
    right: 0;
    left: auto;
    transform: rotate(180deg);
  }
}

.main-nav {
  display: block;
  float: right;
  //outline: 1px solid red;
  .navigation {
    padding: 24px 0;
    li {
      display: inline-block;
      padding: 0 10px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-family: $ff;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.4px;
        @include trans(400ms);
        &:hover {
          color: #a8a8a8;
        }
      }
    }
  }

}
.main-nav {
  display: block;
  float: right;
    li {
      display: inline-block;
      padding: 0 10px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-family: $ff;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.4px;
        @include trans(400ms);
        &:hover {
          color: #a8a8a8;
        }
      }

  }

}


//////////////////////////// ELEMENTS

// -- BTN
.button {
  width: 185px;
  height: 48px;
  border-radius: 2px;
  background-color: #cc922c;
  font-size: 14px;
  line-height: 48px;
  font-family: $ff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  @include trans(400ms);
  &:hover {
    opacity: 0.7;
  }
}

//  -- H1
.main-title{
    text-transform: uppercase;
    font-family: $ff;
    font-size: 69.7px;
    font-weight: 700;
    line-height: 0.92;
    text-align: center;
    color: #fefcfb;
    &::after{
      content: '';
      width: 100px;
      height: 4px;
      display: block;
      background-color: #fff;
      margin: 25px auto 80px auto;

    }

}

// --h2
.sub-title{
  font-family: $ff;
  font-size: 24px;
  font-weight: 300;
  line-height: 0.92;
  text-align: center;
  margin-bottom: 36px;
  color: #444444;
}

// -- INPUT TEXTAREA
.input-group{
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  i{
    position: absolute;
    left: 5px;
    top: 7px;
    color: #e2e1e1;
    text-align: center;
    display: block;
    width: 35px;

  }
}
input{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px 0 40px;
  height: 45px;
  line-height: 45px;
  border-radius: 3px;
  background-color: #f6f6fa;
  border: solid 1px #e2e1e1;
  width: 100%;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #e2e1e1;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #e2e1e1;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #e2e1e1;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #e2e1e1;
  }
  &:focus{
    border: solid 1px #cc922c;
    ~i{
      color: #444444;
    }
  }
  +.error{
    color: #dd0000;
    font-family: $ff;
    font-size: 12px;
  }
}
textarea{
  @extend input;
  height: 140px;
}

// -- LINE BOX
.line-box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('../img/15.png');
  background-position: top left;
  background-repeat: repeat-x;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px 0;
}



.map-burger {
  top: 50%;
  margin-top: -10px;
  width: 60px;
  height: 25px;
  background: none;
  
  z-index: 2;
  display: block;
  &:before {
    content: "";
    position: absolute;
    width: 25px;
    left: 10px;
    height: 1px;
    transition: all .4s;
    top: 12px;
    background: #fff;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  &:after {
    top: 12px;
    //box-shadow: 0 1px 0 0 #00aaff inset, 0 8px 0 0 #00aaff;
    transition: all .4s;
    background: #fff;
    content: "";
    position: absolute;
    width: 25px;
    left: 27px;
    height: 1px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  &.active{
    &:before{
      -webkit-transform: translateX(8px) rotate(-45deg);
      -ms-transform: translateX(8px) rotate(-45deg);
      transform: translateX(8px) rotate(-45deg);
    }
    &:after{
      -webkit-transform:translateX(-8px) rotate(45deg);
      -ms-transform:translateX(-8px) rotate(45deg);
      transform:translateX(-8px) rotate(45deg);
    }
  }
}


